

.register-image{

    background-image: url('https://i.ibb.co/SdX5wzL/1-8dfb4d772b7cdef52e88.jpg');
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}